html, body{
    height: 100%;
    margin: 0; 
}

.container{
    display: flex;
    flex-wrap: wrap;

    width: 100vw;
    height: 100vh;
}


.square{
    width: calc(100% / 16);
    height: calc(100% / 16); 
    
    border: 1px solid black;

    box-sizing: border-box;
}


.header{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 3em;
}

#gridConfiguration{
    margin-left: 1em;
    margin-right: auto;
    size: 100px;
}

.squareConfigurationContainer{
    display: flex;
    justify-content: space-between;
    gap: 2em;
    
}